# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Virtual Environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Documentation
docs/

# Tests
tests/

# Logs
logs/
*.log

# Local Data
storage/
outputs/
minio_data/

# Airflow Logs
airflow/logs/

# Temporary Files
*.tmp
*.bak
*.swp

# OS
.DS_Store
Thumbs.db

# Environment
.env

# GitHub
.github/

# Cache
.cache/

# Build
build/
dist/
*.egg-info/