pyspark==3.5.5

delta-spark==3.2.1

kafka-python==2.2.15

minio==7.2.16

pandas==2.3.1

pyarrow==20.0.0

numpy==2.3.1

python-dotenv==1.1.1

PyYAML==6.0.2

faker==37.4.0

orjson==3.11.0

loguru==0.7.3

tenacity==9.1.2

pydantic==2.11.7

apache-airflow==3.0.3

prometheus-client==0.22.1

pytest==8.4.1

black==25.1.0

ruff==0.12.2

mypy==1.16.1

schedule==1.2.2

delta_spark==3.2.1