# Core
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-settings==2.10.1
PyYAML==6.0.2
loguru==0.7.3

# Kafka
kafka-python==2.2.15

# Spark
pyspark==3.5.7
delta-spark==3.2.1

# Storage
minio==7.2.16

# API
fastapi==0.116.1
uvicorn[standard]==0.35.0
httpx==0.28.1

# Data
pandas==2.3.1
pyarrow==21.0.0
numpy==2.3.1

# Airflow Client
apache-airflow-client==2.0.0

# Monitoring
prometheus-client==0.22.1

# Testing
pytest==8.4.1
pytest-cov==6.2.1

# Quality
black==25.1.0
ruff==0.12.3

# Utilities
tenacity==9.1.2